table{
    border-collapse: collapse;
    width: 100%;
}

#newtimepopup {
    width:500px;
    margin-left:auto;
    margin-right:auto;
}

.modal-popup {
    background: #9fA8DA;
    padding: 20px;
    
}